{% extends "base.html" %}

{% import "_forms.html" as forms %}
{% block page_header %}
  <div class="page-header">
    <h1>{{ student.name }}</h1>
  </div>
{% endblock %}


{% block content %}
  <p>{{ student.name }}<p>
  <p>{{ student.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
  <hr>
  <h2>Choices</h2>
  <h2> {{student.choices}} </h2> 
  {% if student.choices %}
    {% for choice in student.choices %}
       <p>{{ choice.choice_name }}</p>
		<b> {{ choice.drop_a_hint }} </b>
    {% endfor %}
  {% endif %}
	<hr>
	<h2>List down your choices</h2>
	<form action="." method="post">
	{{ forms.render(form) }}
	<div class="actions">
		<input type="submit" class="btn primary" value="SUBMIT">
	</div>
	</form>
{% endblock %}

