<!-- extend from base layout -->
{% extends "base.html" %}

<script type="text/javascript">

    $(document).ready(function() {

        var default_text = 'Search';

        $('#searchField').focus(function() {
            if ($(this).val() == default_text) {
                $(this).css('color', 'black');
                $(this).val('');
            }

            if ($(this).val() == '') {
               $('#examples').show(); 
            }
        });

        $('#searchField').blur(function() {
            if ($(this).val() == '') {
                $(this).css('color', 'gray');
                $(this).val(default_text);
            }
            $('#examples').hide(); 
        });
        $('#searchField').blur();

        var last_update = new Date().getTime();
        var last_query = '';

        $('#searchField').on('input', function(e) {
            var last_update = e.timeStamp;

            if ($(this).val() == '') {
                $('#examples').show();
            } else {
                $('#examples').hide();
            }
        });

        setInterval(function() {

            var cur_time = new Date().getTime(); 
            var diff = cur_time - last_update;

            var cur_query = $('#searchField').val();

            // Only update if the text hasn't changed for 2 seconds
            // and the query has changed since it was last sent. Leave the
            // previous result if the text box is empty
            if (diff >= 2000 && cur_query != last_query && cur_query != '' && cur_query != default_text) { 
                $.get('search', $('#searchForm').serialize(), function(html) {
                    $('#results').html(html);
                });
                last_query = cur_query;
            }

        }, 1000);
    });

</script>


{% block content %}
<h1>{{ session.user.name }} List your choices below</h1>

        <div id="search_box">
            <form id="searchForm" onsubmit="return false">
                <input type="text" id="searchField" name="query" class="search_field"/>
            </form>
        </div>


<form action="" method="post" name="choose">
    {{form.hidden_tag()}}
            <p>
                {{form.choice1(size=80)}}
            </p>
            <p>
                {{form.choice2(size=80)}}
            </p>
    <p><input type="submit" value="Submit"></p>
 </form>
{% endblock %}
