{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="col-lg-8 col-offset-2">
		<div class="row">
			<div class="page-header">
				<h1><a href="/">Last Chances '13</a> <small>by Hacker Club</small></h1>
			</div>
		</div>
		<div class="row">
			<form action="search" id="search">
				<input type="text" name="query" class="input-large" placeholder="Search by name. Click on the correct person." autofocus="">
			</form>
			<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="alerttext"></span></div>
		</div>
		<hr />
		<div class="row" id="choices"></div>

		<div class="row" id="footer">
			<h4 class='text-muted'>Matches will come out (on this site) on Sunday, June 2 at 11:59pm.</h4>
		</div>
	</div>
</div>
{% endblock %}
