{% extends "base.html" %}

{% block content %}
<div class="row"><p>Safe Match is crytpographically secure, so your preferences are secret even if a hacker steals the raw data! Choose a password to get started:</p>
  <form class="form-horizontal">
      <div class="row">
          <div class="col col-lg-11">
              <input type="password" id="password" placeholder="Password" />
              <input type="password" id="confirmpassword" placeholder="Confirm Password" />
              <button type="button" id="register" class="btn btn-primary btn-large btn-block">Let's Go!</a>
          </div>
      </div>
  </form>
{% endblock %}
